h1 {
	font-family: arial,helvetica,sans-serif;
}

h2 {
	font-family: arial,helvetica,sans-serif;
}

h3 {
	font-family: arial,helvetica,sans-serif;
}

h4 {
	font-family: arial,helvetica,sans-serif;
}

body {
	font-family: arial,helvetica,sans-serif;
}